.bg1::before , .bg::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s linear;

}
.bg1::before{
    background-image: url("1.jpg");
}
.bg::before{
    background-image: url("324.jpg");
}

#main{
    text-align: center;
    margin-top: 1.5rem;
}
@media  (max-width:450px){
    #main{
        margin-top: 1rem;
    } 
}
.closed{
    margin: 1rem 2rem 0rem 2rem;
    box-shadow: black 0px 0px 50px ;
    padding: 20px;
    border-radius: 20px;
}
@media  (max-width:450px){
    .closed{
        margin: 2rem auto 0rem auto;
    } 
}
#inp{
    border:solid 2px black;
    border-radius: 30px;
    font-size: 2em;
    padding: 4px;
    text-indent: 0.5em;
    box-shadow: rgb(2, 2, 2) 1px 5px 10px ;
    outline: none;
}
@media (max-width:650px){
    #inp{
        font-size: 1.2em;
        display: block;
        margin: 10px auto;
    }
    
}
button{
    border-radius: 10px;
    padding: 5px 10px;
    margin: 4px;
    border: 1px solid  rgba(213, 230, 255, 0.446);
    background-color: rgba(213, 230, 255, 0.446);
    font-size: 1.5em;
    font-weight: bold; 
    box-shadow: black 1px 5px 20px;
}
@media only screen and (max-width:650px) {
    button{
        font-size: 1em;
    };
} 

ul{
   max-width: 450px;
   /* background-color: rgb(255, 255, 255); */
   border-radius: 10px; 
   margin: 1em auto;
   padding: 10px;
   box-shadow: black 0px 10px 40px;
}
@media  (max-width:450px){
    ul{
        margin: 1em 1em;
    } 
}
li{
    list-style: decimal inside;
    text-align: left;
    padding: 10px;
    margin:10px;
    font-family:sans-serif;
    font-size: 1.1rem;
    border: solid 2px  rgba(255, 255, 255,0.6);
    border-radius: 20px;
    
    color: black;
    /* background-color: rgba(255, 255, 255,0.6); */
    background-color: rgba(213, 230, 255, 0.446);
    display: flex;
    overflow-x: auto;
    overflow-wrap: break-word;  
    max-width :350px;
    align-items: center;
    flex-wrap: wrap;

}
li> button{
    font-size: 1em;
}
@media  (max-width:650px){
    li{
        font-size: 15px;
    }
    li>button{
        display: inline;
        font-size: xx-small;
    }
}

/* ui button to change wallpaper */


.toggle-1__button{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height:20px ;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px rgba(0, 0, 0, 0.6);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.toggle-1__input{
    display: none;
}
.toggle-1__button::before{
    position: absolute;
    top: 5px;
    left: 38px;
    content: "off";
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    padding: 0px 3px;
    background-color:white ;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;

}
.toggle-1__input:checked +.toggle-1__button{
    background:rgba(31, 25, 25, 0.46) ;
    border:solid 1px rgba(31, 25, 25, 0.46) ;
}

.toggle-1__input:checked +.toggle-1__button::before{
    content: "on";
    left: 5px;
}
@media(max-width:600px){
    .toggle-1__button{
        font-size: 0.6rem;
        width: 60px;
        height: 20px;
        border-radius: 10px;
        line-height: 14px;
    }
    .toggle-1__button::before{
        height: 12px;
        left: 32px;
        border-radius: 6px;
    }
}
.bg{
    touch-action: none;

}
/* .toggle-1__input:checked + .toggle-1__button+.bg::before {
    background-image: url(324.jpg);
} */
.Te{
    display: inline-block;
    padding-top: 30px;
}
